.public-upload-view {
	margin-top: 20px;
}

.public-upload-view>div>h2 {
	font-weight: 600;
}

.public-upload-view--completed>h3 {
	font-weight: 600;
	font-size: 1.3em;
}

.public-upload-view--completed>ul {
	width: 90%;
	padding: 5px;
	margin: auto;
	background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(238,238,238,1) 50%, rgba(255,255,255,0) 100%);

}

.public-upload-view--completed>ul>li {
	font-size: 1.2em;
}

.public-upload-view--dropzone {
	border: 3px dotted #888888;
	border-radius: 20px;
	padding: 80px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15%;
	margin-right: 15%;
	cursor: pointer;
	font-size: 18px;
	color: #000000;
	opacity: 0.5;
	-webkit-transition: opacity 200ms;
	-moz-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}

.public-upload-view--dropzone>span {
	vertical-align: middle;
}

.public-upload-view--dropzone:hover,
.public-upload-view--dropzone .dragover {
	opacity: 1;
}

.public-upload-view--dropzone .icon {
	display: inline-block;
	margin-right: 10px;
}

.public-upload-view--title {
	margin-top: 14px;
	text-align: center;
	font-size: 23px;
}

.public-upload-view--upload-button {
	margin-top: 20px;
}
