<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
            	<!-- setting the default document to index.php -->
                <remove value="*" />
                <add value="index.php" />
            </files>
        </defaultDocument>

		<!-- disable directory browsing -->
		<directoryBrowse enabled="false" />

		<!-- no access to data dir -->
	   <security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="data" />
				</hiddenSegments>
			</requestFiltering>
		</security>

		<!-- redirect to http errors -->
        <httpErrors>
            <remove statusCode="403" subStatusCode="-1" />
            <error statusCode="403" prefixLanguageFilePath="" path="core\templates\403.php" responseMode="File" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="core\templates\404.php" responseMode="File" />
        </httpErrors>
        <rewrite>
            <rules>
                <rule name="imported-rule-from-htaccess-1" stopProcessing="true">
                    <match url="^.well-known/host-meta" ignoreCase="false" />
                    <action type="Rewrite" url="/public.php?service=host-meta" appendQueryString="true" />
                </rule>
                <rule name="imported-rule-from-htaccess-2" stopProcessing="true">
                    <match url="^.well-known/host-meta.json" ignoreCase="false" />
                    <action type="Rewrite" url="/public.php?service=host-meta-json" appendQueryString="true" />
                </rule>
                <rule name="imported-rule-from-htaccess-3">
                    <match url="^.well-known/carddav" ignoreCase="false" />
                    <action type="Redirect" url="/remote.php/carddav/" redirectType="Found" />
                </rule>
                <rule name="imported-rule-from-htaccess-4">
                    <match url="^.well-known/caldav" ignoreCase="false" />
                    <action type="Redirect" url="/remote.php/caldav/" redirectType="Found" />
                </rule>
                <rule name="imported-rule-from-htaccess-5" stopProcessing="true">
                    <match url="^apps/calendar/caldav.php" ignoreCase="false" />
                    <action type="Rewrite" url="remote.php/caldav/" appendQueryString="true" />
                </rule>
                <rule name="imported-rule-from-htaccess-6" stopProcessing="true">
                    <match url="^apps/contacts/carddav.php" ignoreCase="false" />
                    <action type="Rewrite" url="remote.php/carddav/" appendQueryString="true" />
                </rule>
                <rule name="imported-rule-from-htaccess-7" stopProcessing="true">
                    <match url="^apps/([^/]*)/(.*\.(css|php))$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?app={R:1}&amp;getfile={R:2}" appendQueryString="true" />
                </rule>
                <rule name="imported-rule-from-htaccess-8" stopProcessing="true">
                    <match url="^remote/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="remote.php" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
