/**
 * ownCloud - App Settings
 * @author Raghu Nayyar
 * @author Jan-Christoph Borchardt
 * @copyright 2013 Raghu Nayyar <raghu.nayyar.007@gmail.com>
 * @copyright 2013 Jan-Christoph Borchardt <http://jancborchardt.net>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

 #app-navigation {
 	padding-bottom: 0;
 }

.appinfo {
	margin: 1em 40px;
}

#app-navigation .appwarning {
    background: #fcc;
}

#app-navigation .appwarning:hover {
    background: #fbb;
}
#app-navigation .active .app {
	font-weight: 700;
}
#app-navigation .active span.externalapp {
	position: absolute; right: 20px; top: 6px; padding: 5px;
	background: #ccc;
	color: #fff;
	font-weight: bold; font-size: 10px;
	border-radius: 4px;
}

.recommendedapp {
	color:#FFF; background-color:#888;
	font-weight:bold; font-size: 0.6em;
	margin: 0; padding: 0.1em 0.2em;
	border-radius: 4px;
}

span.version {
	margin-left:1em; margin-right:1em;
	color:#555;
}

.externalapp, .recommendedapp {
	max-width: 12.5em;
}

.appslink {
	text-decoration: underline;
}

.score {
	color:#666; font-weight:bold; font-size:0.8em;
}