#body-response {
	margin-top: 40px;
	text-align: center;
}

#body-response p {
	display: block;
	padding: 10px;
	background-color: rgba(0,0,0,.3);
	color: #fff;
	border-radius: 3px;
	cursor: default;
	margin-top: 40px;
}
