<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" verbose="true" failOnWarning="true" timeoutForSmallTests="900" timeoutForMediumTests="900" timeoutForLargeTests="900" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">../../../dav</directory>
    </include>
    <exclude>
      <directory suffix=".php">../../../dav/tests</directory>
    </exclude>
    <report>
      <clover outputFile="./clover.xml"/>
    </report>
  </coverage>
  <testsuite name="unit">
    <directory suffix="Test.php">.</directory>
  </testsuite>
  <!-- filters for code coverage -->
  <logging>
    <!-- and this is where your report will be written -->
  </logging>
</phpunit>
