.treeview ul
{
  background:          transparent;
}

body
{
  margin:              0px;
  padding:             0px;
  line-height:         1.5em;
  font-family:         Verdana, Helvetica, sans-serif;
  font-size:           0.8em;
  color:               black;
  background:          black url('../images/background.png') repeat-x top left;
}

table
{
  border-collapse:     collapse;
}

thead th
{
  color:               gray;
  font-size:           0.8em;
  border-bottom:       1px solid silver;
}

th, td
{
  padding-right:       8px;
}

#maincontainer
{
  margin: 0 auto;
  background: white url('../images/top.png') top left no-repeat;
  width: 980px;
}

#header
{
  height: 70px;
}

#header h1
{
  display: inline;
  margin-left: 10px;
  background: white url('../images/top-background.png') repeat-x top left;
  padding-top: 35px;
}

#footer
{
  clear:both;
}

#content_container
{
  float:               right;
  width:               100%;
  margin-left:         -250px; /*Set left margin to -(leftColumnWidth + RightColumnWidth)*/
}

#content
{
  margin-left:         250px; /*Set left margin to (leftColumnWidth + RightColumnWidth)*/
}

ul#menu
{
  float:              left;
  margin:             0px 10px;
  -moz-border-radius: 5px;
  border-radius:      5px;
  background:         #f0f0f0;
  display:            block;
  width:              960px;
  height:             32px;
  line-height:        22px;
  padding:            0px;
}

ul#menu li
{
  padding:      0px 10px;
  margin:       5px 0px;
  border-right: 1px solid gray;
  display:      block;
  float:        left;
}

ul#menu li a
{
  color:   black;
  display: block;
}

div.section
{
  margin: 5px;
  padding: 5px;
  padding-top: 0px;
  margin-bottom: 15px;
  border: 1px solid silver;
  -moz-border-radius: 6px;
  border-radius: 6px;
  width: 218px;
  word-wrap: break-word;
}

div.section h1
{
  border-bottom: 1px solid #5E8CDF;
  text-align: center;
  font-size: 1.1em;
  padding-bottom: 5px;
  /*font-variant: small-caps;*/
  color: #5E8CDF;
}

#index
{
  float:               left;
  width:               250px; /*Width of right column in pixels*/
}

#index h2
{
  font-size:           1.1em;
  margin-bottom:       5px;
  border-bottom:       1px dashed gray;
}

.padder
{
  margin:              10px; /*Margins for inner DIV inside each column (to provide padding)*/
  margin-top:          0px;
}

#index .padder
{
  margin-left:         5px;
  margin-right:        5px;
}

#menu h1
{
  text-align:          center;
  margin-top:          15px;
  margin-bottom:       10px;
  color:               #6495ed;
}

#menu h4
{
  margin-bottom:       0px;
  border-bottom:       1px solid #5E8CDF;
}

#search_box
{
  display: none;
  width: 95%;
  margin: 5px;
  text-align:         center;
  border:             1px solid #5E8CDF;
  -moz-border-radius: 5px;
  border-radius:      5px;
}

#content .properties
{
  float:               right;
  width:               200px;
  border:              1px solid gray;
  -moz-border-radius:  5px;
  padding:             5px;
  background:          white;
  word-wrap:           break-word;
  border-radius:       5px;
}

#content .properties div.property-value
{
  margin-left:         80px;
  word-wrap:           break-word;
  font-size:           0.8em;
  width:               120px;
}

#content .properties label.property-key
{
  float:               left;
  width:               80px;
  word-wrap:           break-word;
  font-size:           0.8em;
  font-weight:         bold;
}

#content .properties h1
{
  font-size:           1.1em;
  margin-top:          3px;
  margin-bottom:       0px;
  border-bottom:       1px solid #5E8CDF;
}

#content .properties table
{
  font-size:           0.8em;
  width:               200px;
}

#content table
{
  font-size:           1.0em;
}

#content .properties th, #content .properties td, #content th, #content td
{
  text-align:          left;
  vertical-align:      top;
  word-wrap:           break-word;
  overflow:            hidden;
  white-space:         pre-wrap;
}

#content .class, #content .interface
{
  clear: right;
}

#content h1
{
  border-bottom:       1px solid #5E8CDF;
  padding-bottom:      10px;
  font-size:           1.6em;
}

#content h2
{
  color: #5E8CDF;
  border-bottom:       1px dashed #5E8CDF;
  padding: 10px 0px;
}

#content h5
{
  margin-bottom:       0px;
  margin-top:          12px;
}

.file_menu
{
  background-color:   #f0f0f0;
  -moz-border-radius: 5px;
  border-radius:      5px;
  text-align:         center;
  margin-top:         -5px;
  padding:            3px;
}

#content .method, #content .constant, #content .property, #content .class, #content .interface
{
  border:              1px solid silver;
  background:          #f9fdf9;
  margin:              8px 0px;
  padding:             5px;
}

#content .method h4, #content .constant h4, #content .property h4, #content .class h4, #content .interface h4
{
  margin-top:          10px;
  margin-bottom:       3px;
}

#content .method small p, #content .method small ul
{
  margin: 0px;
}

#content .class
{
  margin:        5px 0px;
  margin-bottom: 15px;
}

small.footer
{
  display: block;
  text-align: right;
  color: silver;
}

small.footer a
{
  color: gray;
}