/* prevent ugly selection effect on accidental selection */
#header,
#navigation,
#expanddiv {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

/* removed until content-focusing issue is fixed */
#skip-to-content a {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
#skip-to-content a:focus {
	left: 76px;
	top: -9px;
	color: #fff;
	width: auto;
	height: auto;
}



/* HEADERS ------------------------------------------------------------------ */

#body-user #header,
#body-settings #header,
#body-public #header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2000;
	height: 45px;
	line-height: 2.5em;
	background-color: #1d2d44;
	box-sizing: border-box;
}



/* LOGO and APP NAME -------------------------------------------------------- */

#owncloud {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	padding-bottom: 0;
	height: 45px; /* header height */
	box-sizing: border-box;
	opacity: 1;
}

@media only screen and (max-width: 767px) {
	#owncloud {
		display: none;
	}
}

#owncloud:focus {
	opacity: .75;
}
#owncloud:hover,
#owncloud:active {
	opacity: 1;
}

#header a,
#header a * {
	font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
	text-decoration: none;
}

#header .logo {
	background-image: url('../img/logo.svg');
	background-repeat: no-repeat;
	background-size: 175px;
	background-position: center center;
	width: 252px;
	height: 120px;
	margin: 0 auto;
}

#header .logo-icon {
	/* display logo so appname can be shown next to it */
	display: inline-block;
	background-image: url(../img/logo-icon.svg);
	background-repeat: no-repeat;
	background-size: 61px 34px;
	height: 34px;
	color: #fff;
	margin: 0;
	padding: 0;
	padding-left: 66px;
	font-size: 1.04rem;
	font-weight: 300;
	line-height: inherit;
}

#header .header-appname-container {
	display: -webkit-flex; /* @TODO: Remove if Chrome 18 support is dropped */
	display: -ms-flexbox;  /* @TODO: Remove if IE 11 support is dropped */
	display: -moz-box;     /* @TODO: Remove if FF 14 support is dropped */
	display: flex;
	position: absolute;
	left: 15px;
	height: 45px;
	align-items: center;
}

/* hover effect for app switcher label */

#header #owncloud,
#header .header-appname-container {
	opacity: .8;
	transition: opacity .25s;
}

#header #owncloud:hover,
#header .header-appname-container:hover {
	opacity: 1;
}

/* show appname next to logo */
.header-appname {
	color: #fff;
	font-size: 1.04rem;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

/* show burger indicator next to logo to make clear it is tappable */
#header .burger {
	display: inline-block;
	position: relative;
	min-width: inherit;
	width: 14px;
	height: 10px;

	margin: 0 15px 0 0;
	padding: 0;

	background: transparent;
	border: 0 none;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	border-radius: 0;
	text-indent: -9999px;
}

#header .burger:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: calc(50% - 1px);
	height: 2px;
	background-color: #fff;
}


/* do not show menu toggle on public share links as there is no menu */
#body-public #expand:after {
	display: none;
}


/* NAVIGATION --------------------------------------------------------------- */

#navigation {
	position: fixed;
	top: 45px;
	left: 10px;
	width: 265px;
	max-height: 85%;
	margin-top: 0;
	padding-bottom: 10px;
	background-color: rgba(0, 0, 0, .97);
	box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	display: none;
	/*overflow-y: auto;
	overflow-x: hidden;*/
	z-index: 2000;
}
/* arrow look */
#expanddiv:after {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, .97);
	border-width: 10px;
	margin-left: -10px;
}
/* position of dropdown arrow */
#navigation:after {
	left: 12px;
}
#expanddiv:after {
	right: 15px;
}

#navigation, #navigation * {
	box-sizing:border-box;
}
#navigation li {
	display: inline-block;
}
#navigation a {
	position: relative;
	width: 80px;
	height: 80px;
	display: inline-block;
	text-align: center;
	padding: 20px 0;
}
#navigation a span {
	display: inline-block;
	font-size: 13px;
	padding-bottom: 0;
	padding-left: 0;
	width: 80px;
	text-align: center;
	color: #fff;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
	/* icon opacity and hover effect */
	#navigation a img,
	#navigation a span {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		opacity: .7;
	}
	#navigation a:hover img,
	#navigation a:focus img,
	#navigation a:hover span,
	#navigation a:focus span,
	#navigation a.active img,
	#navigation a.active span {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}

#navigation .app-icon {
	margin: 0 auto;
	padding: 0;
	max-height: 32px;
	max-width: 32px;
}

/* Apps management */
#apps-management {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: .6;
	min-height: initial;
	height: initial;
	margin: 0;
}


/* loading feedback for apps */
#navigation .app-loading .icon-loading-dark {
	display: inline !important;
	position: absolute;
	top: 20px;
	left: 24px;
	width: 32px;
	height: 32px;
}
#navigation .app-loading .app-icon {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	opacity: .1;
}

#apps {
	max-height: calc(100vh - 100px);
	overflow:auto;
}


/* USER MENU -----------------------------------------------------------------*/

/* info part on the right, used e.g. for info on who shared something */
.header-right {
	position: absolute;
	right: 0;
	padding: 7px 5px;
	color: #fff;
	height: 100%;
	max-width: 80%;
	white-space: nowrap;
	box-sizing: border-box;
}

/* Profile picture in header */
#header .avatardiv {
	float: left;
	display: inline-block;
	margin-right: 8px;
	cursor: pointer;
	height: 32px;
	width: 32px;
}
#header .avatardiv img {
	opacity: 1;
	cursor: pointer;
}

#settings {
	float: right;
	cursor: pointer;
}

#settings .icon-loading-small-dark {
	display: inline-block;
	margin-bottom: -3px;
	margin-right: 6px;
	background-size: 16px 16px;
}

#expand {
	position: relative;
	display: block;
	padding: 7px 30px 6px 10px;
	cursor: pointer;
	color: #bbb;
	transition: color .25s;
}

#expand * {
	cursor: pointer;
}

#expand:after {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: #bbb transparent transparent transparent;
	right: 17px;
	top: 22px;
	transition: border-color .25s;
}

#expand:hover,
#expand:focus,
#expand:active {
	color: #fff;
}

#expand:hover:after {
	border-color: #fff transparent transparent transparent;
}

#expand img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	opacity: .7;
	margin-bottom: -2px;
}
#expand:hover img,
#expand:focus img,
#expand:active img {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}
#expanddiv {
	position: absolute;
	right: 10px;
	top: 45px;
	z-index: 2000;
	display: none;
	background-color: rgba(0, 0, 0, .97);
	box-shadow: 0 1px 10px rgba(50, 50, 50, .7);
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	box-sizing: border-box;
}
	#expanddiv a {
		display: block;
		height: 40px;
		color: #fff;
		padding: 4px 12px 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
		opacity: .7;
		box-sizing: border-box;
	}
	#expanddiv a img {
		margin-bottom: -3px;
		margin-right: 6px;
	}
	#expanddiv a:hover,
	#expanddiv a:focus,
	#expanddiv a:active,
	#expanddiv a.active {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		opacity: 1;
	}

/* do not show display name when profile picture is present */
#header .avatardiv.avatardiv-shown + #expandDisplayName {
	display: none;
}
#header #expand {
	display: block;
	height: 32px;
}
