/**
 * ownCloud - Core
 *
 * @author Raghu Nayyar
 * @author Jan-Christoph Borchardt
 * @copyright 2013 Raghu Nayyar <raghu.nayyar.007@gmail.com>
 * @copyright 2013 Jan-Christoph Borchardt <hey@jancborchardt.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


form { display:inline; }
table:not(.nostyle) th { height:2em; color:#999; }
table:not(.nostyle) th, table:not(.nostyle) td { border-bottom:1px solid #ddd; padding:0 .5em; padding-left:.8em; text-align:left; font-weight:normal; }
td.name, td.password { padding-left:.8em; }
td.password>img,td.displayName>img, td.remove>a, td.quota>img { visibility:hidden; }
td.password, td.quota, td.displayName { width:12em; cursor:pointer; }
td.password>span, td.quota>span, rd.displayName>span { margin-right: 1.2em; color: #C7C7C7; }

td.remove { width:1em; padding-right:1em; }
tr:hover>td.password>span, tr:hover>td.displayName>span { margin:0; cursor:pointer; }
tr:hover>td.remove>a, tr:hover>td.password>img,tr:hover>td.displayName>img, tr:hover>td.quota>img { visibility:visible; cursor:pointer; }
tr:hover>td.remove>a { float:right; }
li.selected { background-color:#ddd; }
table:not(.nostyle) { width:100%; }
#rightcontent { padding-left: 1em; }
div.quota { float:right; display:block; position:absolute; right:25em; top:-1px; }
div.quota-select-wrapper { position: relative; }
div.recoveryPassword { left:50em; display:block; position:absolute; top:-1px; }
input#recoveryPassword {width:15em;}
select.quota { position:absolute; left:0; top:0; width:10em; }
select.quota-user { position:relative; left:0; top:0; width:10em; }
div.quota>span { position:absolute; right:0; white-space:nowrap; top:.7em; color:#888; text-shadow:0 1px 0 #fff; }
select.quota.active { background: #fff; }

/* positioning fixes */
#newuser { position:relative; top:-3px; }
#newuser .multiselect { top:1px; }
#headerGroups, #headerSubAdmins, #headerQuota { padding-left:18px; }

.ie8 table.hascontrols{border-collapse:collapse;width: 100%;}
.ie8 table.hascontrols tbody tr{border-collapse:collapse;border: 1px solid #ddd !important;}


/* Group List Styles */

#user-settings { height:100%; }
#app-navigation { position: fixed; overflow:auto !important; }
#app-navigation > ul { height:auto; overflow:auto; }
#app-navigation .loading, #user-content .loading { width:35px; height:35px; margin:0 auto; }
#priority-list { border-bottom:1px solid #ccc; }
#user-groups { overflow:hidden !important; }

/* Explicit Items in the List */

.everyone {
	background-color: #ddd;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #ddd;
	position: relative;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

.everyone:hover {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.everyone a {
	display: block;
	width: 100%;
	padding: 0 16px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 32px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
}
.admin {

}

.addgroupbutton {
	background-color: #eee;
	position: relative;
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
	height:44px;
}

.addgroupbutton:hover {
	background:#DDD;
}

.addgroupbutton span {
	display: block;
	width: 100%;
	padding: 7px 12px;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 32px;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #333;
	cursor:pointer;
	font-weight:500;
}

.showgroupinput {
	background:#eee;
	border-bottom:1px solid #ccc;
}

#app-settings-content {
	display:block;
	height:100px;
}

form[name="creategroup_form"] {
	padding:4px 12px;
}
form[name="creategroup_form"] input {
	width: 250px;
	margin-top: 8px;
	margin-left: 1px;
}

#user-content .loading {
	position:fixed;
	top:50%;
	left:50%;
}

.utils {
	position:absolute;
	right:0;
	top:0px;
}

.delete-button {
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: 0;
	box-shadow: none;
    position:absolute;
    top:0;
    right:-5px;
}

.delete-button:hover {
	background-color: #DDD;
}
.utils span {
	position: absolute;
	padding: 7px;
	right:5px;
	top:5px;
}

.utils .activeusercount {
	right:35px;
	top:6px;
}

#hascontrols {
	margin-left: 300px;
	background-color:#efefef;
	padding: 2px 0 2px 0;
}

#searchBar {
	float: right;
	margin: -40px 10px;
}
/* User Table */

#user-table {
	position: absolute;
	left: 300px;
	float: left;
	min-width: 700px;
}

#userlist {
	position: relative;
	width:100%;
}

#userlist thead {
	height:30px;
}

#userlist tbody tr {
	height:44px;
}

#userlist tbody tr > td.delete-column .delete-user-icon {
	opacity:0;
	background-color:transparent;
	padding:2px;
    border:0;
}

#userlist tbody tr:hover > td.delete-column .delete-user-icon {
	opacity:1;
}


.login-name, .display-name, .user-pass, .groups, .local-storage {
	max-width:200px;
	width:200px;
}

.display-name span, .user-pass span {
	width:100px;
	padding:7px 95px 5px 5px;
	border-radius:5px;
	border:1px solid transparent;
	cursor:text;
}

.display-name span:hover, .user-pass span:hover {
	border:1px solid #eee;
}

.groups .editgroupdiv select {
	display:none !important;
}