<div id="{dialog_name}" title="{title}">
	<div><span class="label">{errorLabel} </span><span class="value">{message}</span></div>
	<div class="connection">
		<div><span class="label">{urlLabel} </span><span class="value">{url}</span></div>
		<div><span class="label">{dataLabel} </span><span class="value">{data}</span></div>
	</div>
	<div class="hint"><span class="label">{hintLabel} </span><span class="value">{hint}</span></div>
	<div class="stack">
		<div class="label">{stackLabel} </div>
		<pre class="value">{stack}</pre>
	</ul>
	</div>
</div>
