<div id="{dialog_name}" title="{title}">
	<div><span class="label">Error: </span><span class="value">{message}</span></div>
	<div class="connection">
		<div><span class="label">URL: </span><span class="value">{url}</span></div>
		<div><span class="label">Data: </span><span class="value">{data}</span></div>
	</div>
	<div class="hint"><span class="label">Hint: </span><span class="value">{hint}</span></div>
	<div class="stack">
		<div class="label">Stack: </div>
		<pre class="value">{stack}</pre>
	</ul>
	</div>
</div>
