#found_versions li {
	cursor: default;
	height: 35px;
	float: left;
	border-bottom: 1px solid rgba(100,100,100,.1);
}
#found_versions li:last-child {
	border-bottom: none;
}

#found_versions li > span,
#found_versions li > a,
#found_versions li > img {
	padding: 9px;
	float: left;
}

#found_versions img {
	cursor: pointer;
}

.versionDate {
	float: left;
	min-width: 100px;
}

.revertVersion {
	cursor: pointer;
	vertical-align: top;
}

.revertVersion img {
	padding-right: 4px;
}
