ul#found_versions li {
	cursor: default;
}

ul#found_versions img {
	cursor: pointer;
	padding-left: 10px;
}

span.versionDate {
	float: left;
	min-width: 100px;
}

span.revertVersion {
	cursor: pointer;
}
