.versionsTabView .clear-float {
	clear: both;
}

.versionsTabView li {
	width: 100%;
	cursor: default;
	height: 60px;
	float: left;
	border-bottom: 1px solid rgba(100,100,100,.1);
}
.versionsTabView li:last-child {
	border-bottom: none;
}

.versionsTabView a,
.versionsTabView div > span {
	vertical-align: middle;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: .5;
}

.versionsTabView li a{
	padding: 15px 10px 11px;
}

.versionsTabView a:hover,
.versionsTabView a:focus {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.versionsTabView .preview-container {
	display: inline-block;
  	vertical-align: top;
	text-align: center;
}

.versionsTabView .preview-container {
	padding: 5px;
}
.versionsTabView img {
	cursor: pointer;
	padding-right: 4px;
}

.versionsTabView img.preview {
	cursor: default;
	background-size: 32px;
	width: 32px;
	height: 32px;
	display: block;
	margin: 0 auto;
}

.versionsTabView .version-container {
	display: inline-block;
	margin-top: 5px;
}

.versionsTabView .versiondate {
	min-width: 100px;
	vertical-align: super;
}

.versionsTabView .versionstatus {
	vertical-align: super;
}

/* FIXME: we need to find better solution for this ref. https://github.com/owncloud/core/pull/40531#issuecomment-1420926550 */
@media(max-width: 1200px) {
	.versionsTabView .versionstatus {
		display: none;
	}
}

.versionsTabView .version-details {
	text-align: left;
}

.versionsTabView .version-details > span {
	padding: 0 10px;
}

.versionsTabView .action-container {
	display: inline;
}

.versionsTabView .revertVersion {
	cursor: pointer;
	float: right;
	margin-right: -10px;
}

.versionsTabView .publishVersion {
	cursor: pointer;
	float: right;
	margin-right: -10px;
}
.versionsTabView .current-version .version-headline {
	font-weight: bold;
}
.versionsTabView .current-version {
	background: #f8f8f8;
}
