#reset-password p {
	position: relative;
}

.text-center {
	text-align: center;
}

#submit {
	width: 100%;
}

#password {
	width: 100% !important;
}

#retypepassword {
	width: 100% !important;
}

#message {
	width: 94% !important;
}