name: Changelog

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: write

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Generate Changelog
        run: |
          docker run --rm -v $(pwd):/data -w /data toolhippie/calens calens >| CHANGELOG.md
      - name: Commit and push changes
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        run: |
          git config --local user.email "devops@owncloud.com"
          git config --local user.name "ownClouders"
          git add CHANGELOG.md
          git commit -m "Automated changelog update [skip ci]" || echo "No changes to commit"
          git push
