name: Javascript Tests

on:
  push:
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

permissions:
  contents: read

concurrency:
  group: javascript-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-js:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '14'
      - name: Install dependencies
        run: |
          make install-nodejs-deps
      - name: Run Javascript tests
        run: |
          make test-js
